//====================================================================================================
.footer {
   background: #130C3A;
   color: #ffff;
   padding-top: rem(150);
   position: relative;
   &__container {
      margin-bottom: rem(50);
      @media (max-width:$mobileSmall){
          margin-bottom: rem(30); 
      }
   }

   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;justify-content: center;
      text-align: center;
      margin-bottom: rem(150);
      @media (max-width:$mobile){
          margin-bottom: rem(80); 
      }
      @media (max-width:$mobileSmall){
          margin-bottom: rem(40); 
      }
   }

   &__title {
      font-family: 'Roboto';
      font-weight: 900;
      font-size: rem(75);
      line-height: math.div(85 ,75 );
      max-width: rem(639);
      margin-bottom: rem(40);
      @media (max-width:$mobileSmall){
          margin-bottom: rem(20);
          font-size: rem(55); 
      }
   }

   &__body{
      display: flex;
      align-items: center;justify-content: center;
     @media (max-width: em(780)){
        flex-direction: column;
     }
   }



   &__button{
      font-family: 'Inter';
      font-weight: 400;
      font-size: rem(22);
      line-height: math.div(32 ,22 );
      text-align: center;
      color: #FFFFFF;
      background: #0555FF;
      border-radius: 0px rem(10) rem(10) 0px;
      padding: rem(24) rem(50);
      transition: all 0.3s ease 0s;
      &:hover{
         background-color: #072b7a;
      }
      @media (max-width: em(780)){
			width: 100%;
         border-radius:0 0 rem(10) rem(10);
		}
   }

   &__bottom {
      display: grid;
      grid-template-columns: 1fr 2fr; 
      @media (max-width: em(770)){
         grid-template-columns: 1fr ; 
      }
   }

   &__left {
      @media (max-width: em(770)){
           margin-bottom: rem(20);
      }
   }

   &__right {
      display: flex;
      justify-content: flex-end;
      @media (max-width: em(770)){
         justify-content: start;
         flex-wrap: wrap;
         
      }
      @media (max-width: em(510)){
           margin-bottom: rem(20);
           &:last-child{
            margin-bottom: rem(0);
           }
      }
   }



   &__privacy {
      background: #0F0937;
      padding-top: rem(20);
      padding-bottom: rem(20);
   }

   &__rootes {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(19 ,16 );
      color: #FFFFFF;
      text-align: center;
   }
}

.left-footer {

   &__label {
      font-family: 'Inter';
      font-weight: 700;
      font-size: rem(28);
      line-height: math.div(34 ,28 );
      margin-bottom: rem(33);
   }

   &__text {
      font-family: 'Inter';
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(28 ,16 );
      color: #7884A6;
      margin-bottom: rem(10);
   }

   &__number {
      margin-bottom: rem(10);
      a{
         font-family: 'Inter';
         font-weight: 400;
         font-size: rem(16);
         line-height: math.div(28 ,16 );
         color: #7884A6;
         transition: all 0.3s ease 0s;
         &:hover{
            color: #FFFFFF;
         }
      }
   }

   &__mail {
      margin-bottom: rem(10);
      a{
         font-family: 'Inter';
         font-weight: 400;
         font-size: rem(16);
         line-height: math.div(28 ,16 );
         color: #7884A6;
         transition: all 0.3s ease 0s;
         &:hover{
            color: #FFFFFF;
         }
      }
   }
}
.right-footer {
padding-left: rem(10);
   &__list {
   margin-right: rem(111);
   &:last-child{
      margin-right: rem(0);
   }
   @media (max-width:$tablet){
      margin-right: rem(40);
      &:last-child{
         margin-right: rem(0);
      }
   }
   }

   &__item {

      &_main {
         font-family: 'Roboto';
         font-weight: 500;
         font-size: rem(20);
         line-height: math.div(25 ,20 );
         color: #FFFFFF;
      }
   }

   &__link {
      font-family: 'Inter';
      font-weight: 400;
      font-size: rem(16);
      line-height: math.div(42 ,16 );
      color: #7884A6;
      transition: all 0.3s ease 0s;
      &:hover{
         color: #FFFFFF;
      }
      &_main {
         font-family: 'Roboto';
         font-weight: 500;
         font-size: rem(20);
         line-height: math.div(25 ,20 );
         color: #FFFFFF;
      }
   }
}

.icons-footer {

   &__items {
      position: absolute;

      &_1 {
         top: 20px;
         left: 200px;
         @media (max-width: em(810)){
            left: 0;
       }
      }

      &_2 {
         top: 0;
         right: 200px;
         @media (max-width: em(810)){
              right: 0;
         }
      }

      &_3 {
         top: 35%;
         right: 0;
      }

      &_4 {
         bottom: -20px;
         left: 0;
      }

      &_5 {
         top: 0;
         left: -20px;
      }
   }
}

//====================================================================================================
